<template>
  <q-page padding>
     <q-tabs
        v-model="tab"
        class="text-black"
      >
        <q-tab name="home"  label="home" />
        <q-tab name="trending" label="trending" />
        <q-tab name="popular"  label="popular" />
        <q-tab name="playlist" i label="playlist" />
      </q-tabs>
      <div class="col-12">
        <q-video  :ratio="16/9" src="https://www.youtube.com/embed/k3_tw44QsZQ?rel=0"/>
      </div>
  <q-page-container>
    <div class="row">
      <Video class="col-xs-6"/>
      <Video class="col-xs-6"/>
      <Video class="col-xs-6"/>
      <Video class="col-xs-6"/>
      <Video class="col-xs-6"/>
      <Video class="col-xs-6"/>
    </div>
  </q-page-container>
  </q-page>
</template>

<script>
import Video from 'components/Video.vue'
export default {
  name: 'Tabs',
  components: { Video },
  data () {
    return {
      tab: 'home'
    }
  }
}
</script>
