<template>
    <div class="row flex flex-center q-mt-lg col-12">
      <Followings class="col-sm-6 col-md-3 flex flex-center q-mb-lg" />
      <Followings class="col-sm-6 col-md-3 flex flex-center q-mb-lg" />
      <Followings class="col-sm-6 col-md-3 flex flex-center q-mb-lg" />
      <Followings class="col-sm-6 col-md-3 flex flex-center q-mb-lg" />
      <Followings class="col-sm-6 col-md-3 flex flex-center q-mb-lg" />
    </div>
</template>

<script>
import Followings from 'components/Followings.vue'
export default {
  name: 'Following',
  components: { Followings }
}
</script>
