<template>
      <div class="col-12">
        <q-img src="https://cdn.quasar.dev/img/parallax2.jpg" height="100vh">
          <div class="absolute-full  text-subtitle2 flex flex-center">
            <q-form
              @submit="onSubmit"
            >
              <q-input
                label-color="white text-center"
                color="red"
                type="text"
                dark
                v-model="email"
                label="Email"
              />

              <q-input
                label-color="white text-center"
                color="red"
                dark
                type="text"
                v-model="senha"
                label="Senha"
              />
              <div>
                <q-btn to="/pages/Profile.vue" icon="arrow_right_alt" color="red" class="col-8 q-mt-lg" style="width:200px;" rounded />
              </div>
              <a  class="q-mt-lg flex flex-center" style="text-decoration:none; color:white;">Esqueci a senha</a>
              <a href="" class="q-mt-lg flex flex-center" style="text-decoration:none; color:white;">cadastro</a>
           </q-form>
          </div>
        </q-img>
      </div>
</template>

<script>
export default {
  name: 'Login'
}
</script>
