<template>
<div class="q-pa-md-lg">
  <div
  class=""
  style="
    position:relative;
  ">
    <q-img
        src="https://placeimg.com/500/300/nature"
      >
        <div class="absolute-bottom text-subtitle1 text-start" style="height:100px;">
          Name User
        </div>
      </q-img>
  <div
    class="bg-red flex-center rounded-borders"
    style="
      position:absolute;
      width:80vw;
      height:auto;
      padding: auto;
      bottom:-50px;
      margin-left: 10vw;
    ">
      <div class="row q-mt-md">
            <div class="likes text-center text-white col-4">
              <p>600</p>
              <p>Likes</p>
            </div>
            <div class="followings text-center text-white col-4">
              <p>200</p>
              <p>Followings</p>
            </div>
            <div class="followers text-center text-white col-4">
              <p>650</p>
              <p>Followers</p>
            </div>
          </div>
    </div>
  </div>
  <q-page-container>
    <div class="row q-mt-lg flex flex-center">
      <div class="col-xs-6 col-lg-4 flex flex-center">
    <q-video  style="width:98%"
      src="https://www.youtube.com/embed/k3_tw44QsZQ?rel=0"
    />
    <q-h1>Exemplo</q-h1>
  </div>
  <div class="col-xs-6 col-lg-4 flex flex-center">
    <q-video  style="width:98%;"
      src="https://www.youtube.com/embed/k3_tw44QsZQ?rel=0"
    />
    <q-h1>Exemplo</q-h1>
  </div>
   <div class="col-xs-6  col-lg-4 flex flex-center">
    <q-video  style="width:98%"
      src="https://www.youtube.com/embed/k3_tw44QsZQ?rel=0"
    />
    <q-h1>Exemplo</q-h1>
  </div>
  <div  class="col-xs-6  col-lg-4 flex flex-center">
    <q-video  style="width:98%"
      src="https://www.youtube.com/embed/k3_tw44QsZQ?rel=0"
    />
    <q-h1>Exemplo</q-h1>
  </div>
  </div>
  </q-page-container>
</div>
</template>
<script>
export default {
  name: 'Profile'
}
</script>
