<template>
  <q-page padding>
  <q-page-container>
     <div class="col-12 flex flex-center">
      <video-embed  src="https://www.youtube.com/watch?v=s4ObxcdXoFE" />
    </div>
    <q-separator/>
    <div class="row">
    <Video class="col-xs-6 col-sm-4 col-md-3"/>
    <Video class="col-xs-6 col-sm-4 col-md-3"/>
    <Video class="col-xs-6 col-sm-4 col-md-3"/>
    <Video class="col-xs-6 col-sm-4 col-md-3"/>
    <Video class="col-xs-6 col-sm-4 col-md-3"/>
    <Video class="col-xs-6 col-sm-4 col-md-3"/>
    </div>
  </q-page-container>
  </q-page>
</template>
<script>
import Vue from 'vue'
import Embed from 'v-video-embed'
import Video from 'components/Video.vue'
// global register
Vue.use(Embed)
export default {
  name: 'VideoDetail',
  components: { Video },
  data () {
    return {
      tab: 'latest'
    }
  }
}
</script>
