<template>
  <q-page padding>
     <q-tabs
        v-model="tab"
        class="text-black"
      >
        <q-tab name="latest" label="latest" />
        <q-tab name="popular"  label="popular" />
        <q-tab name="playlist" i label="playlist" />
      </q-tabs>
   <q-page-container>
    <div class="row">
      <Video class="col-xs-6"/>
      <Video class="col-xs-6"/>
      <Video class="col-xs-6"/>
      <Video class="col-xs-6"/>
      <Video class="col-xs-6"/>
      <Video class="col-xs-6"/>
    </div>
  </q-page-container>
  </q-page>
</template>

<script>
import Video from 'components/Video.vue'
export default {
  name: 'VideoGallery',
  components: { Video },
  data () {
    return {
      tab: 'latest'
    }
  }
}
</script>
