<template>
  <q-page>
    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      class="bg-red  full-height"
      color="red"
      bordered
    >
    <q-list class="bg-red text-white full-height">
      <q-item-label
        eader
      >
      <q-avatar class="q-ml-lg q-mt-lg q-mb-lg" size="80px">
        <img src="https://cdn.quasar.dev/img/avatar.png">
      </q-avatar>
      <text-h1 class="flex flex-bottom q-ml-lg q-mb-lg">
        Name User
      </text-h1>
      <text-h6 class="flex flex-bottom q-ml-lg q-mb-lg">
        Function
      </text-h6>
      <q-item
      clickable
      v-ripple
      to="/pages/Profile.vue"
      class="text-white">
        <q-item-section avatar>
          <q-icon name="person" />
        </q-item-section>

        <q-item-section>Profile</q-item-section>
      </q-item>
      <q-item
      clickable
      v-ripple
      to="/pages/Dashboard.vue"
      class="text-white">
        <q-item-section avatar>
          <q-icon name="article" />
        </q-item-section>

        <q-item-section>Dashboard</q-item-section>
      </q-item>
       <q-item
      clickable
      v-ripple
      to="/pages/VideoDetail.vue"
      class="text-white">
        <q-item-section avatar>
          <q-icon name="video_settings" />
        </q-item-section>

        <q-item-section>Video Detail</q-item-section>
      </q-item>
      </q-item-label>
    </q-list>
    </q-drawer>
  </q-page>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {}
  }
}
</script>
