<template>
  <div>
     <q-card
      class="bg-red my-card text-white"
      style="width:90%"
    >
      <q-card-section class=" flex flex-center">
        <q-avatar>
          <img src="https://cdn.quasar.dev/img/avatar.png">
        </q-avatar>
      </q-card-section>

      <q-card-section class="flex flex-center">
        <div class="row flex flex-center text-center">
          <q-h1 class="col-12">User Name</q-h1>
          <q-h6 class="col-12">Function</q-h6>
        </div>
      </q-card-section>

      <q-card-section class=" flex flex-center">
          <q-btn outline rounded color="white" dark label="unfollow" />
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
export default {
  name: 'Followings',
  data () {
    return {}
  }
}
</script>
