<template>
<q-page>
      <q-header elevated>
      <q-toolbar class="bg-red">
      <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />
      <q-toolbar-title class="flex flex-center">{{ title }}</q-toolbar-title>
      <q-icon class="flex flex-end" name="more_vert"/>
     </q-toolbar>
    </q-header>
    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      class="bg-red  full-height"
      color="red"
      bordered
    >
    <q-list class="bg-red text-white full-height">
      <q-item-label
        eader
      >
      <q-avatar class="q-ml-lg q-mt-lg q-mb-lg" size="80px">
        <img src="https://cdn.quasar.dev/img/avatar.png">
      </q-avatar>
      <text-h1 class="flex flex-bottom q-ml-lg q-mb-lg">
        Name User
      </text-h1>
      <text-h6 class="flex flex-bottom q-ml-lg q-mb-lg">
        Function
      </text-h6>
      <q-item
      clickable
      v-ripple
      to="/pages/Profile.vue"
      class="text-white">
        <q-item-section avatar>
          <q-icon name="person" />
        </q-item-section>

        <q-item-section>Profile</q-item-section>
      </q-item>
      <q-item
      clickable
      v-ripple
      to="/pages/Dashboard.vue"
      class="text-white">
        <q-item-section avatar>
          <q-icon name="article" />
        </q-item-section>

        <q-item-section>Dashboard</q-item-section>
      </q-item>
       <q-item
      clickable
      v-ripple
      to="/pages/VideoDetail.vue"
      class="text-white">
        <q-item-section avatar>
          <q-icon name="video_settings" />
        </q-item-section>

        <q-item-section>Video Detail</q-item-section>
      </q-item>
       <q-item
      clickable
      v-ripple
      to="/pages/VideoGallery.vue"
      class="text-white">
        <q-item-section avatar>
          <q-icon name="video_library" />
        </q-item-section>

        <q-item-section>Video Gallery</q-item-section>
      </q-item>
       <q-item
      clickable
      v-ripple
      to="/pages/Following.vue"
      class="text-white">
        <q-item-section avatar>
          <q-icon name="group" />
        </q-item-section>

        <q-item-section>Followings</q-item-section>
      </q-item>
      </q-item-label>
    </q-list>
    </q-drawer>
    <q-page-container>
      <router-view />
    </q-page-container>
</q-page>
</template>
<script>

export default {
  name: 'Header',
  props: {
    title: String
  },
  data () {
    return {
      leftDrawerOpen: true
    }
  }
}
</script>
