<template>
  <div class="q-mt-lg">
    <div class="col-xs-6 col-lg-4 flex flex-center">
      <q-video  :ratio="4/3" style="width:98%"
      src="https://www.youtube.com/embed/k3_tw44QsZQ?rel=0"
      />
      <q-h1>Exemplo</q-h1>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Video',
  data () {
    return {}
  }
}
</script>
