<template>
    <div class="q-pa-md-lg" id="div-carousel">
    <q-carousel
      animated
      :control-type="controlType"
      control-color="red"
      v-model="slide"
      height="100vh"
      navigation
      infinite
      :autoplay="autoplay"
      transition-prev="slide-right"
      transition-next="slide-left"
      @mouseenter="autoplay = false"
      @mouseleave="autoplay = true"
    >
      <q-carousel-slide name="first" img-src="https://cdn.quasar.dev/img/mountains.jpg">
        <div class="absolute-bottom custom-caption">
          <div class="text-h2">First stop</div>
          <div class="text-subtitle1">Mountains</div>
        </div>
      </q-carousel-slide>
      <q-carousel-slide name="second" img-src="https://cdn.quasar.dev/img/parallax1.jpg">
        <div class="absolute-bottom custom-caption">
          <div class="text-h2">Second stop</div>
          <div class="text-subtitle1">Famous City</div>
        </div>
      </q-carousel-slide>
      <q-carousel-slide name="third" img-src="https://cdn.quasar.dev/img/parallax2.jpg">
        <div class="absolute-bottom custom-caption">
          <div class="text-h2">Third stop</div>
          <div class="text-subtitle1">Famous Bridge</div>
        </div>
      </q-carousel-slide>
    </q-carousel>
    <div class="row q-pa-xs-md fixed-top flex flex-center" >
      <q-btn to="/pages/Login.vue" color="red"  class="col-8 q-mt-lg"  label="Login"  rounded />
      <q-btn to="/pages/Cadastro.vue" color="red"  class="col-8 q-mt-md"  label="Cadastro" rounded />
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      slide: 'first',
      autoplay: true,
      controlType: 'flat'
    }
  }
}
</script>

<style>
.custom-caption {
  text-align: center;
  padding: 12px;
  color: white;
  margin-bottom: 40px;
}
</style>
