<template>
  <q-layout view="lHh Lpr lFf">
    <Header  title="Title"/>
  </q-layout>
</template>

<script>
import Header from 'components/Header.vue'
export default {
  name: 'Sistema',
  components: { Header }
}
</script>
